* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
}

.box.visible {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.box.hidden {
  cursor: initial;
  visibility: hidden;
}

.box.selected {
  background-color: #0bcc59;
  cursor: not-allowed;
  border-radius: 20px;
  border-width: 2px;
}
